@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #0A1128;
    --secondary-color: crimson;
    --white-color: #fff;
    --light-gray: #eee;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

p {
    margin-bottom: 3;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 4.5rem;
    text-transform: uppercase;
}

h5 {
    font-size: 4rem;
    text-transform: uppercase;
}

h6 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.main-bg {
    background-image: url(/assets/img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}


.main-content {
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.section {
    min-height: 100vh;
}

.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray);
    z-index: 2;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    color: var(--primary-color);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
    color: var(--primary-color);
}

.menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 6.5rem;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
    margin-top: 0;
}

.intro-text-content,
intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.top3-content h2 {
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.jobs-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.grid-description {
    padding-bottom: 8rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
    counter-reset: gridcounter;
}

.grid h3 {
    font-size: 3rem;
    text-transform: capitalize;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;

}

.grid p {
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: gridcounter;
    content: counter(gridcounter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    rotate: 5deg;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(3%, 3%) scale(1.2);
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table td,
table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray);
}

tfoot td {
    background-color: var(--light-gray);
    text-align: center;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
}

thead td,
table th {
    background-color: var(--light-gray);
}

.contact-intro {
    padding-top: 8rem;
}

.contact-form {
    grid-column: span 2;
    width: 100%;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-top: 3rem;
}

.form-grid legend {
    font-style: italic;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    color: var(--white-color);
    position: relative;
}

.form-grid legend::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 10rem;
    height: 0.3rem;
    background: var(--secondary-color);
}

.form-group {
    flex: 1 1 320px;
    margin-bottom: 2rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
    color: var(--white-color);
    font-size: 1.8rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.8rem;
    outline: none;
    color: var(--white-color);
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    border: 1px solid transparent;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 10px 2px var(--secondary-color);
    border-color: var(--secondary-color);
}

.form-group textarea {
    resize: vertical;
    min-height: 15rem;
}

.form-group.full-width {
    flex: 1 1 100%;
}

.form-group button {
    border: 0.3rem solid var(--white-color);
    background: transparent;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 0.5rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.096);
}

.form-group ::placeholder {
    color: rgba(255, 255, 255, 0.74);
}

.footer {
    text-align: center;
    padding: 2rem;
}

.footer a {
    color: inherit;
    transition: all 300ms ease-in-out;
    font-size: 1.8rem;
}

.footer a:hover {
    color: crimson;
}

.close-menu {
    display: none;
}

@media (max-width: 800px) {

    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 90%;
    }

    .jobs-content {
        display: block;
        padding-left: 3rem;
    }

    .contact-intro{
        padding-left: 2rem;
    }

    .menu {
        bottom: 0;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 5;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }

    .menu-spacing {
        display: none;
    }
}